@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    font-family: 'Share Tech Mono', monospace;
    background-image: url(/Képek/neuamannjanos_hatter.png);

}
.container{
    background-color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.5);
    
}
