@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

h1, h2{
    text-align: center;
}
body{
    background-image: url(../Képek/maganeletHatter.png);
    background-size: cover;
    color: white;
}
nav{
    font-family: 'Share Tech Mono', monospace;
}