@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    font-family: 'Share Tech Mono', monospace;
    background-image: url(/Képek/neuamannjanos_hatter.png);
    background-repeat: no-repeat;
    background-size: cover;



}
.container{
    
    background-color: rgba(245, 245, 245, 0.5);
    
}
.container-fluid>nav{
    
    color: white;
}
footer{
    margin-top: 200px;
}
p, ul{
    font-size: 25px;
}
.boxshadow{
    box-shadow: 10px 10px 50px grey;
}
img:first-child{
    height: 200px;
    margin-left: 100px;
}
#kep1{
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px;
}