@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    font-family: 'Share Tech Mono', monospace;

}
.container{
    background-image: url(/Képek/informatika.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
